version: '3.9'

services:
  jenkins:
    image: myjenkins-blueocean:2.361.2-1
    build:
     context: .
    restart: on-failure
    depends_on:
      - jenkins-docker
    environment:
      - DOCKER_CERT_PATH=/certs/client
      - DOCKER_TLS_VERIFY=1
      - DOCKER_HOST=tcp://jenkins-docker:2376
    volumes:
      - jenkins-data:/var/jenkins_home
      - jenkins-docker-certs:/certs/client:ro
    ports:
      - "8080:8080"
      - "50000:50000"
  jenkins-docker:
    image: docker:dind
    privileged: true
    # deploy:
    #   resources:
    #     limits:
    #       cpus: '1'
    #       memory: 2G
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
       - jenkins-data:/var/jenkins_home
       - jenkins-docker-certs:/certs/client
    ports:
      - "2376:2376"

volumes:
  jenkins-docker-certs:
  jenkins-data:
